li.m-1
  = link_to t('defaults.start_now'), signup_path, class: 'button btn btn-primary', style: 'color: #DCFFB8;'
li.m-1
  = link_to t('defaults.login'), login_path, class: 'button btn btn-outline btn-primary'